@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}


body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;


}


.background{


position:absolute;

width:100%;

height:100%;

background:
linear-gradient(
135deg,
#667eea,
#764ba2
);


animation:bgmove 8s infinite alternate;


}


@keyframes bgmove{


from{

transform:scale(1);

}


to{

transform:scale(1.2);

}


}



.card{


position:relative;

width:400px;

padding:35px;

background:
rgba(255,255,255,0.15);


backdrop-filter:blur(15px);


border-radius:25px;


box-shadow:
0 20px 40px rgba(0,0,0,0.2);


animation:slide 0.8s;


color:white;


}



@keyframes slide{


from{

opacity:0;

transform:translateY(50px);

}


to{

opacity:1;

transform:translateY(0);

}


}




h1{

text-align:center;

margin-bottom:10px;

}


.subtitle{


text-align:center;

margin-bottom:25px;

opacity:.8;

}



input{


width:100%;

padding:15px;

margin:10px 0;


border:none;

outline:none;


border-radius:15px;


background:white;


font-size:15px;


}




button{


width:100%;

padding:14px;


border:none;


border-radius:15px;


background:#111827;


color:white;


font-size:16px;


cursor:pointer;


transition:.3s;


}



button:hover{


transform:translateY(-3px);


background:#000;


}



a{

color:#fff;

font-weight:600;

}



p{

text-align:center;

margin-top:20px;

}




/* Todo */


.todo-card{

width:500px;

}



.header{


display:flex;

justify-content:space-between;

align-items:center;


}



.logout{


width:90px;

background:#ef4444;


}



.add-box{


display:flex;

gap:10px;

margin-top:20px;


}



.add-box button{


width:60px;


}



li{


list-style:none;


margin-top:15px;


padding:15px;


background:
rgba(255,255,255,.2);


border-radius:15px;


display:flex;


justify-content:space-between;


animation:pop .4s;


}



@keyframes pop{


from{

transform:scale(.8);

opacity:0;

}


to{

transform:scale(1);

opacity:1;

}


}



.delete{


width:auto;

padding:8px 12px;

background:#ef4444;


}